#!/usr/bin/env sh
# Copyright 2021 Google LLC
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#      http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.
#
apt-get update
apt-get -y install nginx netcat-openbsd keepalived
echo '<HTML><BODY>This is server ${server_number}</BODY></HTML>' > /var/www/html/index.html
cat << EOF >> /etc/systemd/system/nc.service
[Unit]
Description=Netcat service for health check

[Service]
ExecStart=/bin/nc -k -l ${health_check_port}
EOF
cat << EOF > /etc/keepalived/pidof.sh
#!/bin/bash
/usr/bin/pidof nginx
ret=\$?
exit \$ret
EOF
chmod +x /etc/keepalived/pidof.sh
cat << EOF >> /etc/keepalived/keepalived.conf
vrrp_script nginx {
  script "/etc/keepalived/pidof.sh"
  interval 2
  user www-data
}

vrrp_instance floating_ip {
  state ${state}
  interface ens4
  track_script {
    nginx
  }
  unicast_src_ip ${ip}
  unicast_peer {
    ${peer_ip}
  }
  virtual_router_id 50
  priority ${priority}
  authentication {
    auth_type PASS
    auth_pass ${vrrp_password}
  }
  notify_master "systemctl start nc"
  notify_backup "systemctl stop nc"
  notify_fault "systemctl stop nc"
}
EOF
sed -i.bak '/\[Service\]/ a Restart=always' /etc/systemd/system/multi-user.target.wants/keepalived.service
service keepalived restart
